body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

h2 {
    color: black;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: black !important;
}

input {
    color: black;
    padding: 10px;
    margin: 5px 0;
    width: 110%;
    border: 1px solid black !important;
    background: transparent;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}
p-iftalabel label:focus{
    color: black !important;

}
input:focus {
    outline: none;
    border: 1px solid black !important; 
    background: transparent;
}
p-iftalabel input:focus + label {
    color: #696969 !important;  
  }
button {
    padding: 10px 10%;
    margin-bottom: 5%;
    background-color: #2575fc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #6a11cb;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    gap: 1rem;
    padding: 20px;
   
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        label {
            align-self: self-start;
        }
    }
}
input {
    font-size: 0.9rem;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    box-sizing: border-box;

}
@media screen and (min-width: 100px) and (max-width: 700px) {
    .login-container {
        width: 90vw;
        height: auto;
        padding: 15px;
        gap: 1rem;
    }
    h4 {
        font-size: 12px;
    }
    label {
        font-size: 0.9rem;
    }

    input {
        font-size: 0.9rem;
        width: 100%;
    }

    button {
        font-size: 0.9rem;
    }
}
