<body>
  <div class="login-container">
      <h2>Login</h2>
  
      <form #myForm="ngForm" (submit)="login()" novalidate>
        <input id="in_label_username" type="text" [(ngModel)]="username" name="username" required />
        <label for="in_label_username">Usuário</label>
  
        <input id="in_label_password" type="password" [(ngModel)]="password" name="password" required />
        <label for="in_label_password">Senha</label>
  
        <h4 style="color: black" ngIf="errorMessage">{{errorMessage}}</h4>
  
        <button type="submit">Login</button>
      </form>
  
    </div>
  </body>