<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    Any
    <a class="navbar-brand">
      <button style="border: none; background: transparent;" 
        type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight">
        <i class="bi bi-list"></i>
      </button>
    </a>
  </div>

  <div class="offcanvas offcanvas-end togglecanvas" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasRightLabel">Ferramentas</h5>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
      <!-- Accordion -->
      <div class="accordion" id="accordionExample">
        <div *ngFor="let section of routeStruct | keyvalue; let i = index" class="accordion-item">
          <h2 class="accordion-header" id="heading{{ i }}">
            <button 
              class="accordion-button collapsed bg-light-subtle" 
              type="button" 
              data-bs-toggle="collapse" 
              [attr.data-bs-target]="'#collapse' + i" 
              [attr.aria-expanded]="false" 
              [attr.aria-controls]="'collapse' + i">
              {{ section.value.name }}
            </button>
          </h2>
          <div 
            id="collapse{{ i }}" 
            class="accordion-collapse collapse" 
            [attr.aria-labelledby]="'heading' + i" 
            data-bs-parent="#accordionExample">
            <div class="accordion-body bg-light-subtle">
              <ul class="list-unstyled d-flex flex-column gap-3">
                <li *ngFor="let child of section.value.children | keyvalue">
                  <a (click)="admin_required()" style="cursor: pointer;" class="d-block text-decoration-none">{{ child.value.name }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Logout button -->
      <button class=" align-self-end btn btn-outline-danger mt-4" (click)="toggleCanvasClass()">
        <i class="bi bi-box-arrow-right"></i> Logout
      </button>
    </div>
  </div>
</nav>
